{% extends "parent.html" %}

{% block body %}

    <!-- Estila a página -->

    <style>
        body::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('static/images/teste.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.25;
            z-index: -1;
        }

        .content {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
            position: relative;
            z-index: 1;
        }

        .btn-custom {
        background-color: #003366;
        color: white;
        border: 2px solid white;
        transition: all 0.3s ease;
        }

        .btn-custom:hover {
            background-color: white;
            color: #003366;
            border: 2px solid #003366;
        }
    </style>

    <h1 class="text-center display-1 fw-bold" style="color: #003366;">
        Atlas de Conceitos Médicos e Clínicos
    </h1>
    <p class="text-center fs-3 fw-semibold mt-3" style="color: #003366;">
        "Conhecimento médico estruturado, acessível e multilingue."
    </p>
    
    <p class="text-center fs-4 fw-normal mx-auto" style="max-width: 900px">
        Este atlas reúne uma coleção abrangente de conceitos médicos, doenças, tratamentos e termos clínicos, compilados a partir de fontes fidedignas da área da saúde. 
        Cada entrada inclui definições detalhadas, descrições especializadas e traduções em várias línguas, permitindo a sua utilização em contextos académicos, clínicos e internacionais.
    </p>
    
    <p class="text-center fs-4 fw-normal mx-auto" style="max-width: 900px">
        Além disso, o Atlas disponibiliza siglas associadas, citações e termos semanticamente relacionados, facilitando a exploração aprofundada dos conteúdos.
        Constitui assim uma ferramenta de apoio à aprendizagem, investigação e prática clínica, promovendo o acesso rápido e organizado ao conhecimento biomédico.
    </p>

    <p class="text-center fs-4 fw-semibold mt-4" style="color: #003366;">
        O que gostaria de explorar primeiro?
    </p>
    
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/conceitos" class="btn btn-lg px-4 gap-3 btn-custom">
            Conceitos
        </a>
        <a href="/categorias" class="btn btn-lg px-4 btn-custom">
            Categorias
        </a>
        <a href="/proximas" class="btn btn-lg px-4 btn-custom">
            Palavras Próximas
        </a>
        <a href="/inversa" class="btn btn-lg px-4 btn-custom">
            Pesquisa Inversa
        </a>
        <a href="/tabela" class="btn btn-lg px-4 btn-custom">
            Tabela
        </a>
        <a href="/adiciona" class="btn btn-lg px-4 btn-custom">
            Adicionar Novo Conceito
        </a>
    </div>
    
{% endblock %}